*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-image {
  float: left;
  margin: 18px 34px;
  border-radius: 100%;
}

.nav-text {
  float: right;
  margin: 35px 35px 0px 35px;
}

.nav-text li {
  font-weight: 500;
  font-size: 18px;
  opacity: 100%;
  text-transform: uppercase;
  float: left;
  margin-left: 28px;
  list-style: none;
}

.nav-text a {
  color: #FFFFFF;
  text-decoration: none;
}

.team-name {
  clear: both;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}

.team-name h1 {
  color: #FFFFFF;
  opacity: 100%;
  font-size: 92px;
  font-weight: 100;
  display: block;
  line-height: 5px;
}

.team-name span {
  color: #FFFFFF;
  font-size: 24px;
  opacity: 100%;
  font-weight: 300;
  padding-bottom: 300px;
  display: block;
  line-height: 1px;
}

/*.team-name::after {
  content: "";
  display: block;
  padding-top: 65px;
  font-size: 40px;
  background-image: url('images/divider.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  margin: 30px auto 0;

}*/

.header {
  background-image: url("images/hero.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.team-description {
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 60px;
  width: 844px;
  text-align: center;
  color: #C3BFBF;
  opacity: 100%;
  font-size: 32px;
  font-weight: 300;
}

.team-description::after {
  content: "";
  display: block;
  height: 32px;
  background-image: url('images/divider.png');
  background-repeat: no-repeat;
  background-position: center;
  margin: 75px;
}

.support li {
  list-style: none;
  float: left;
  display: block;
  width: 33.33%;
  padding: 10px 25px 65px 25px;

}

.support h1 {
  color: #777777;
  opacity: 100%;
  font-weight: 400;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 65px;
}

.support h2 {
  color: #777777;
  opacity: 100%;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

.support p {
  color: #777777;
  opacity: 100%;
  font-size: 16px;
  font-weight: 300;
}

.meet {
  background-color: #f9f9f9;
  padding-top: 90px;
  padding-bottom: 90px;
  clear: left;
  overflow: hidden;
}

.meet h1 {
  color: #444444;
  opacity: 100%;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 50px;
}

.intro {
  margin: 0 250px 80px 250px;
  line-height: 1.5em;
  display: block;
}

.intro p {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}

.team-grid figure {
  float: left;
  width: 14%;
  margin-right: 2%;
  display: inline;
  text-align: center  ;
  margin-bottom: 1rem;
}

.team-grid img {
  border-radius: 50%;
}
